@model MovieDb.Models.Movie

@{
    ViewData["Title"] = "Create";
}

<h2>Dodaj novi film</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ReleaseDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Genre" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Genre" class="form-control" />
                <span asp-validation-for="Genre" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Grade" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Grade" class="form-control" />
                <span asp-validation-for="Grade" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Director" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Director" class="form-control" />
                <span asp-validation-for="Director" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Actors" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Actors" class="form-control" />
                <span asp-validation-for="Actors" class="text-danger" />
            </div>
        </div>
        
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Dodaj" class="btn btn-default" />
                </div>
            </div>
        </div>
</form>

<div>
    <a asp-action="Index">Povratak na popis</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
